{% extends "layout.html" %}
{% block content %}

<div class = "containter">
    <ol>
        <div>
            <li>
                <h1> Name : Rushikesh Wakhare</h1>
            </li>
            <li>
                <div>
                    <h2> Phone Number : 9756340916</h2>
                </div>
            </li>
            <li>
                <div>
                    <h3> Email : rrushi6548@gmail.com</h3>
                </div>
            </li>
        </div>
    </ol>
</div>




{% endblock content %}